fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
faiss-cpu
pypdf
python-dotenv
requests
python-multipart
sentence-transformers
langdetect
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

