fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
requests
python-multipart
sentence-transformers
langdetect
